/***************************************************************************************
    Basic Styles
****************************************************************************************/

@charset "UTF-8";

body { 
    font-size: 16px; /* Default Font Size */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/bank_2.jpg");
}

p {
    float: left;
    width: 100%;
}

label {
    float: left;
    padding: 5px;
}

input, button {
    padding: 5px;
    -webkit-box-sizing: border-box; /* For Google Chrome and Safari */
    -moz-box-sizing: border-box; /* For Firefox */
    box-sizing: border-box;
}

input {
    float: right;
    width: 80%;
    display: block;
    font-size: 14px;
}

.checkbox {
    margin-top: 0;
}

.checkbox input{
    float: none;
    margin-left: 20%;
    width: 20px;
    height: 20px;
}

button {
    width: 25%;
    margin-left: 20%;
    float: left;
    background: linear-gradient(#009900, darkgreen, #009900);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background: linear-gradient(#33ff33, #00dd00, #33ff33);
}

button:active {
    background: linear-gradient(#00dd00, #33ff33, #00dd00);
}

.cancel {
    font-size: 16px;
    float: right;
    border-radius: 10px;
    padding: 5px 10.5%;
    background: linear-gradient(#990000, #640000, #990000);
    color: white;
    text-decoration: none;
}

.cancel:hover {
    background: linear-gradient(#ff3333, #dd0000, #ff3333);
}

.cancel:active {
    background: linear-gradient(#dd0000, #ff3333, #dd0000);
}

.error {
    color: red;
    font-weight: bold;
}

.info {
    color: green;
    font-weight: bold;
}

.clearfix {
    overflow: auto;
}

/***************************************************************************************
    Log In Page
****************************************************************************************/
.background_login {
    background-image: url("../img/bank_1.jpg");
}

.login_title {
    width: 30%;
    margin: 10px auto;
    padding: 0px 25px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 25px;
    color:cyan;
}

.login {
    width: 30%;
    margin: 100px auto;
    background-color: whitesmoke;
    border: darkblue 5px solid;
    border-radius: 10px;
    padding: 15px 25px;
}

.login p, .login label, .login input, .login button {
    float: none;
}

.login label {
    padding: 0;
}

.login input, .login button {
    width: 100%;
}

.login button {
    margin-left: 0;
}

/***************************************************************************************
    Header
****************************************************************************************/
header {
    background: #88ccff;
    border: 1px #88aaff solid;
    padding: 5px 5px 2px 5px;
}

header .bank_header {
    float: left;
}

header .bank_header .bank_logo {
    float: left;
}

header .bank_header .bank_logo img {
    width: 150px;
}

header .bank_header .bank_name {
    float: right;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    padding: 40px 0px 0px 40px;
}

header .user_header {
    padding: 35px 20px 0px 0px;
    float: right;
}

header .user_header .user_full_name {
    font-size: 22.5px;
    padding-bottom: 25px;
}

/***************************************************************************************
    Main Body
****************************************************************************************/
main {
    width: 100%;
    margin: 5px auto;
}

main .menu_bar {
    width: 263px;
    height: 500px;
    background: #88ddff;
    border: 1px #88bbff solid;
    padding: 15px;
    float: left;
}

main .menu_bar ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

main .menu_bar ul li {
    margin-bottom: 15px;
}

.menu_item, .menu_item_selected{
    padding: 15px;
    display: block;
    text-decoration: none;
    border-radius: 25px;
    background: linear-gradient(#000099, #000064, #000099);
    color: white;
    font-size: 20px;
}

.menu_item_selected {
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(#0000da, #0000a6, #0000da);
}

.menu_item:hover, .menu_item_selected:hover {
    background: linear-gradient(#3333ff, #0000cc, #3333ff);
}

.menu_item:active, .menu_item_selected:active {
    background: linear-gradient(#0000cc, #3333ff, #0000cc);
}

.web_body {
    width: 80%;
    float: right;
}

/***************************************************************************************
    Home Page Body
****************************************************************************************/
.balance_table {
    border-collapse: collapse;
    font-size: 25px;
    font-weight: bold;
}

.balance_table_label {
    padding: 15px 20px 15px 5px;
}

.balance_table_data {
    padding: 15px 5px 15px 100px;
    text-align: end;
}

/***************************************************************************************
    View User Body
****************************************************************************************/
.view_user_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: bold;
    background-color: #aaeeff;
}

.view_table_lable {
    padding: 16px 50px 15px 25px;
}

.view_table_data {
    padding: 15px 300px 15px 150px;
}

/***************************************************************************************
    Modify User Body
****************************************************************************************/
.modify_user {
    font-weight: bold;
}

/***************************************************************************************
    View Acount Body
****************************************************************************************/
.account {
    font-weight: bold;
    font-size: 20px;
    padding: 0px 0px 0px 25px;
    border-bottom: 2px #777777 solid;
}

.account_number {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.account_number:hover {
    color: blue;
}

.account_number:active {
    color: red;
}

.account_data {
    font-size: 20px;
    font-style: italic;
    color: #333333;
}

/***************************************************************************************
    View Transactions Body
****************************************************************************************/
.view_transaction {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    background-color: #aaeeff;
    border: 2px #777777 solid;
}

.view_transaction_header {
    border: 2px #777777 solid;
}

.view_transaction_data {
    border: 2px #777777 solid;
    text-align: center;
}